@import url(./reset.css);

:root{
    --main-brown-shade: #926239;
}

*{
    box-sizing: border-box;
}

body{
    margin: none;
    padding: none;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
   
}

.header{
    height: 100vh;

    background-image: url("../img/photo_2023-02-21_14-11-19.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    line-height: 1.5;
    text-align: center;
    color: var(--main-brown-shade);
}

h1{
    padding-top: 40vh;

    font-size: 50px;
    font-weight: bold;  
}

.description{
    font-size: 20px;
}

.btn{
    margin: 20px;
    padding: 10px 20px;

    width: 150px;
   
    border: 1px solid var(--main-brown-shade);
    border-radius: 10px;
    background-color: white;

    font-size: 18px;
    color: var(--main-brown-shade);

}

.btn:hover{
    cursor: pointer;
    background-color: var(--main-brown-shade);

    color: white;
}

article{
    font-size: 17px;
    text-align: center;
    
}

.mini-section{
    display: inline-block;
    padding: 20px;
    width: 33.1%;

    font-size: 17px;
    line-height: 1.6;
    text-align: left;
}

.backgroung-brown{
    background-color: var(--main-brown-shade);
    color: white;
}

.great-article{
    padding: 20px;
    line-height: 1.6;
}

.background-white{
    background-color: white;
    color: var(--main-brown-shade);
}